In [1]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [4]:
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [6]:
apr = apriori(df, min_support=0.6)
apr

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [8]:
data = {1 : ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'], 
        2 : ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'], 
        3 : ['Milk', 'Apple', 'Kidney Beans', 'Eggs'], 
        4 : ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'], 
        5 : ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']}

In [34]:
columns = set(['temp'])
for l in data:
    s = set(data[l])
    columns = columns.union(s)
columns = list(columns)
columns.remove('temp')
print(columns)

['Apple', 'Milk', 'Corn', 'Nutmeg', 'Yogurt', 'Dill', 'Onion', 'Kidney Beans', 'Eggs', 'Ice cream', 'Unicorn']

In [48]:
df = pd.DataFrame(data=data[1],columns=columns)

ValueError: Shape of passed values is (6, 1), indices imply (6, 11)

In [47]:
np.array(dataset)

<ipython-input-47-d43ab1e10c7e>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  np.array(dataset)

array([list(['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt']),
       list(['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt']),
       list(['Milk', 'Apple', 'Kidney Beans', 'Eggs']),
       list(['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt']),
       list(['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'])],
      dtype=object)

In [ ]:
pd.same