### Header Files

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### Dumy Data

In [2]:
data = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

### Extracting unique columns

In [3]:
columns = set(['temp'])
for l in data:
    s = set(l)
    columns = columns.union(s)
columns = list(columns)
columns.remove('temp')
print(columns)

['Milk', 'Onion', 'Nutmeg', 'Unicorn', 'Ice cream', 'Dill', 'Apple', 'Eggs', 'Kidney Beans', 'Corn', 'Yogurt']

### Extracting boolean data respective of colums

In [4]:
data_bool = []
for l in data:
    temp = []
    for c in columns:
        if c in l:
            temp.append(True)
        else:
            temp.append(False)
    data_bool.append(temp)        
data_bool

[[True, True, True, False, False, False, False, True, True, False, True],
 [False, True, True, False, False, True, False, True, True, False, True],
 [True, False, False, False, False, False, True, True, True, False, False],
 [True, False, False, True, False, False, False, False, True, True, True],
 [False, True, False, False, True, False, False, True, True, True, False]]

### Building data frame

In [5]:
data_df = pd.DataFrame(data = data_bool, columns = columns)
data_df

,Milk,Onion,Nutmeg,Unicorn,Ice cream,Dill,Apple,Eggs,Kidney Beans,Corn,Yogurt
0,True,True,True,False,False,False,False,True,True,False,True
1,False,True,True,False,False,True,False,True,True,False,True
2,True,False,False,False,False,False,True,True,True,False,False
3,True,False,False,True,False,False,False,False,True,True,True
4,False,True,False,False,True,False,False,True,True,True,False

### using apriiori algo

In [6]:
apr = apriori(data_df, min_support = 0.6, use_colnames = True)
apr

    support                     itemsets
0       0.6                       (Milk)
1       0.6                      (Onion)
2       0.8                       (Eggs)
3       1.0               (Kidney Beans)
4       0.6                     (Yogurt)
5       0.6         (Kidney Beans, Milk)
6       0.6                (Onion, Eggs)
7       0.6        (Onion, Kidney Beans)
8       0.8         (Eggs, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Eggs, Kidney Beans)

### accosiation rules

In [7]:
# Note : need to see doccumentation of association rule.... didn't get

In [8]:
ar = association_rules(apr, min_threshold=0.8)
ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
1,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
2,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
3,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
4,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0
5,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
6,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf